:root {
  --text-color: #8f43a9;
  --secondary-color: #f0facc;
  --accent-color: #2ea14a;
  --body-text: #2c3b44;
}

header {
  color: var(--text-color);
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  text-align: center;
}
h1 {
  font-size: 48px;
}
h2 {
  color: var(--body-text);
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}
body {
  background-color: var(--secondary-color);
}
hr {
  color: var(--body-color);
  margin-left: 200px;
  margin-right: 200px;
}

img {
  max-width: 125px;
  max-height: 125px;
}
section {
  text-align: center;
}
.lookup-prompt {
  color: var(--accent-color);
  font-size: 28px;
}
.word {
  font-size: 40px;
  font-family: "Arsenal", sans-serif;
  color: var(--text-color);
}

footer {
  padding-top: 20px;
}

.footer-link {
  text-decoration: none;
  color: var(--text-color);
}
.footer-link:hover {
  color: var(--accent-color);
}
