.Dictionary {
  background: var(--secondary-color);
  color: var(--body-text);
  text-align: center;
  font-family: "Arsenal", sans-serif;
}
.lookup-prompt {
  color: var(--text-color);
}
section {
  padding: 20px;
}
