.Meaning {
  background-color: white;
  text-align: left;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 5px 5px 5px rgba (0 0 0 / 10%);
  margin-top: 10px;
}

.part-of-speech {
  color: var(--accent-color);
  font-size: 30px;
  font-family: "Raleway", sans serif;
  font-weight: bolder;
}
.definition {
  display: block;
  color: var(--body-text);
  font-family: "Arsenal", sans-serif;
  line-height: 2;
}
.example {
  display: block;
  color: var(--body-text);
  font-family: "Arsenal", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  font-style: italic;
}
