.Meaning {
  display: block;
  padding: 25px;
  background-color: white;
  margin: 20px;
  text-align: left;
}

.part-of-speech {
  color: var(--accent-color);
  font-size: 30px;
  font-family: "Raleway", sans serif;
  font-weight: bolder;
}
.definition {
  display: block;
  color: var(--body-text);
  font-family: "Arsenal", sans-serif;
  line-height: 2;
}
.example {
  display: block;
  color: var(--body-text);
  font-family: "Arsenal", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  font-style: italic;
}
