h3 {
  color: var(--body-text);
  font-size: 20px;
  font-weight: bolder;
}
.synonyms {
  color: var(--body-text);
  text-align: left;
}
.synonym-list {
  box-shadow: none !important;
  padding-bottom: 0px !important;
}
li {
  font-size: 13px;
  font-family: "Arsenal", sans-serif;
  color: var(--body-text);
  list-style: none;
  text-align: left;
  margin-right: 15px;
}
