h3 {
  color: var(--body-text);
  font-size: 20px;
  font-weight: bolder;
  text-align: left;
}
li {
  font-size: 13px;
  font-family: "Arsenal", sans-serif;
  color: var(--body-text);
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}
